<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        #vueText div{
            display: inline;
        }
    </style>
</head>
<body>
<div id="head">
    <div style="position: absolute;right: 1%">
        欢迎<h3 style="display: inline;">${userName}</h3>
        <a href="/logout">登出</a>
    </div>
</div>
<div id="container" style="text-align: center">
    <ul style="height: 50px"></ul>
    <h1>这是主页</h1>
    <div id="vueText">
        <div id="app">
            {{ message }}
        </div>
        <hr/>
        <div id="app-2">
          <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
          </span>
        </div>
        <hr/>
        <div id="app-3">
            <p v-if="seen">现在你看到我了</p>
        </div>
        <hr/>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <hr/>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转消息</button>
            <button-counter></button-counter>
        </div>
        <hr/>
        <div id="components-demo">
            <button-counter></button-counter>
        </div>
    </div>
</div>


</body>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
</html>